<body style="background-color:powderblue;font-size:40px;">
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}

        <p>
            <input type="text" name="username">
        </p>
        <p>
            <input type="submit" value="Vote" style="color: red; ">
        </p>
    </form>

    <p>
        <a href="{% url 'polls:results' question.id%}">View current responses</a>
    </p>
    <p>
        <a href="{% url 'polls:index' %}">Go back to main page</a>
    </p>
</body>